.HomePage {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 50px !important;
    width: 100vw !important;
}

.HomeTitle{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 200;
}