.HomePage {
    align-items: center;
    width: 100vw !important;
    min-width: 100% !important;
    border: 0 !important
}

.HomeTitle{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 200;
    margin-bottom: 20%;
}